@import "Global";

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 3rem;
  background: $background-dark;
  hr {
    max-width: 50%;
    margin: 0;
  }
  h6 {
    color: $font-color-light;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.5;
    @media all and (max-width: 1023px) {
      flex-direction: column;
    } 
    .info-container {
      .info-content {
        color: $font-color-light;
        p {
          padding-bottom: 0rem;
          font-size: 0.875rem;
        }
      }
    }
  }

  .social-media-container {
    p {
      color: $font-color-light;
      padding: 2rem 0rem 0rem 0rem;
      font-size: 0.875rem;
      opacity: 0.25;
    }
  }

  .social-media-list {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    .social-media-network {
      text-decoration: none;
      font-size: 1rem;
      margin-bottom: 1rem;
      a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: $font-color-light;
        span {
          filter: grayscale(100%);
          padding-right: 0.5rem;
        }
        p {
          font-size: 0.875rem;
          margin: 0;
          padding: 0;
          line-height: 2;
          color: $font-color-light;
          opacity: 0.5;
        }
      }
      a:hover {
        span {
          filter: grayscale(0);
        }
        p {
          opacity: 1;
        }
      }
    }
  }
}

