

.Home {
  display: grid;
  grid-gap: 60px;
  justify-content: space-evenly;

  grid-template:
    "image-1 image-1 image-2"
    "image-1 image-1 image-3"
    "image-4 image-6 image-6"
    "image-5 image-6 image-6"
    "image-7 image-8 image-9";
    
    img {
        object-fit: cover;
        width: 100%;
        display: block;
        margin: 0 auto;
        height: 260px;

    }
    a {
        align-self: stretch;
    }

    div:first-of-type {
        display: none;
    }
    

  a:nth-of-type(2) {
    grid-area: image-1;
    max-height: 100%;
    img {
        height: 580px;
    }
  }
  a:nth-of-type(3) {
    grid-area: image-2;
  }
  a:nth-of-type(4) {
    grid-area: image-3;
  }
  a:nth-of-type(5) {
    grid-area: image-4;
  }
  a:nth-of-type(6) {
    grid-area: image-5;
    
  }
  a:nth-of-type(7) {
    grid-area: image-6;
    img {
        height: 580px;
    }
  }
  a:nth-of-type(8) {
    grid-area: image-7;
  }
  a:nth-of-type(9) {
    grid-area: image-8;
  }
  a:nth-of-type(10) {
    grid-area: image-9;
  }
}



