@import 'Global';

// Desktop

.Home {

  .image-container {
    position: relative;
  }

  div:first-of-type {
    display: none;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 230px;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
  }
  
  .image-fade {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .image-container:hover .image {
    opacity: 0.3;
  }
  
  .image-container:hover .image-fade {
    opacity: 1;
  }
  
  .image-caption {
    background-color: $font-color-dark;
    color: $font-color-light;
    font-size: 1rem;
    padding: 1rem 2rem;
  }
}

@media all and (min-width: 1024px) {
  .Home {
    display: grid;
    grid-gap: 80px;
    justify-content: space-evenly;
    grid-template:
      "image-1 image-1 image-2"
      "image-1 image-1 image-3"
      "image-4 image-6 image-6"
      "image-5 image-6 image-6"
      "image-7 image-8 image-9"
      "image-10 image-10 image-10";

    a:nth-of-type(2) {
      grid-area: image-1;
      .image {
        height: 540px;
      }
    }
    a:nth-of-type(3) {
      grid-area: image-2;
    }
    a:nth-of-type(4) {
      grid-area: image-3;
    }
    a:nth-of-type(5) {
      grid-area: image-4;
    }
    a:nth-of-type(6) {
      grid-area: image-5;
    }
    a:nth-of-type(7) {
      grid-area: image-6;
      .image {
        height: 540px;
      }
    }
    a:nth-of-type(8) {
      grid-area: image-7;
    }
    a:nth-of-type(9) {
      grid-area: image-8;
    }
    a:nth-of-type(10) {
      grid-area: image-9;
    }
    a:nth-of-type(10) {
      grid-area: image-10;
      .image {
        height: 540px;
      }
    }
  }
}

// Tablet

@media all and (max-width: 1023px) {
  .Home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 40px;
  }
}

// Mobile

@media all and (max-width: 767px) {
  .Home {
    display: block;
  }
  .Home a img {
    margin-bottom: 1rem;
  }
}

.Intro {
  text-align: center;
  margin:  4rem auto;
  padding: 2rem;
  letter-spacing: 10px;
  font-size: 4rem;

  @media all and (max-width: 767px) {
    font-size: 2rem;
    padding: 0rem;
  }
}

// Animations

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.Intro {
  margin-left: 1rem;
  margin-right: 1rem;
}