.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem; }
  .Header h3 {
    color: #212121; }
  .Header .Nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 1rem 0rem; }
    .Header .Nav .Nav-item {
      margin-left: 2rem;
      list-style-type: none; }
      .Header .Nav .Nav-item a {
        text-decoration: none !important;
        color: #212121; }

@media all and (max-width: 767px) {
  .Header {
    flex-direction: column; }
    .Header .Nav {
      justify-content: space-between; }
      .Header .Nav .Nav-item {
        margin: 0; } }

.Nav-item a {
  position: relative; }

.Nav-item a:before {
  position: absolute;
  top: 130%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  content: '';
  transform: translateY(2rem);
  opacity: 0;
  transition-property: -webkit-transform, opacity;
  transition-duration: .3s; }

.Nav-item a:hover:before {
  transform: translateY(0);
  opacity: 1; }
