.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem; }
  .header a {
    color: #212121;
    text-decoration: none !important; }
  .header .nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 1rem 0rem; }
    .header .nav .nav-item {
      margin-left: 2rem; }

@media all and (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: stretch; }
    .header h6 {
      text-align: center; }
    .header .nav {
      justify-content: space-between; }
      .header .nav .nav-item {
        margin: 0; } }

.nav-item a {
  position: relative; }

.nav-item a:before {
  position: absolute;
  top: 130%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  content: "";
  transform: translateY(1.5rem);
  opacity: 0;
  transition-property: -webkit-transform, opacity;
  transition-duration: 0.3s; }

.nav-item a:hover:before {
  transform: translateY(0);
  opacity: 1; }
