.Home {
  display: grid;
  grid-gap: 60px;
  justify-content: space-evenly;
  grid-template: "image-1 image-1 image-2" "image-1 image-1 image-3" "image-4 image-6 image-6" "image-5 image-6 image-6" "image-7 image-8 image-9"; }
  .Home img {
    object-fit: cover;
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 260px; }
  .Home a {
    align-self: stretch; }
  .Home div:first-of-type {
    display: none; }
  .Home a:nth-of-type(2) {
    grid-area: image-1;
    max-height: 100%; }
    .Home a:nth-of-type(2) img {
      height: 580px; }
  .Home a:nth-of-type(3) {
    grid-area: image-2; }
  .Home a:nth-of-type(4) {
    grid-area: image-3; }
  .Home a:nth-of-type(5) {
    grid-area: image-4; }
  .Home a:nth-of-type(6) {
    grid-area: image-5; }
  .Home a:nth-of-type(7) {
    grid-area: image-6; }
    .Home a:nth-of-type(7) img {
      height: 580px; }
  .Home a:nth-of-type(8) {
    grid-area: image-7; }
  .Home a:nth-of-type(9) {
    grid-area: image-8; }
  .Home a:nth-of-type(10) {
    grid-area: image-9; }
