.services section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1rem; }
  .services section .services-content {
    max-width: 50%; }
  .services section h2 {
    color: #212121; }
